<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema Amortização</title>
</h:head>

<h:body>
	<h2>Sistema Amortização</h2>
	<h:form>
		<h:outputText value="Valor do Montante:" />
		<p:inputText id="montante" value="#{principalMB.montante}"
			label="Montante" required="true"></p:inputText>
		<br />
		<h:outputText value="Taxa de Juros:" />
		<p:inputText id="juros" value="#{principalMB.juros}" label="juros"
			required="true"></p:inputText>
		<br />
		<h:outputText value="Quantidade de Parcelas:" />
		<p:inputText id="qtParcelas" value="#{principalMB.qtParcelas}" label="qtParcelas"
			required="true"></p:inputText>
		<br />

		<h:outputText value="Sistema de Amortização escolhido:" />
		<br />
		<h:selectOneMenu value="#{principalMB.tipo}">
			<f:selectItem itemValue="2" itemLabel="SAC" />
			<f:selectItem itemValue="3" itemLabel="Price" />
			<f:selectItem itemValue="4" itemLabel="Americano" />
		</h:selectOneMenu>
		<br />


		<p:commandButton value="Gerar Planilha"
			action="#{principalMB.gerarPlanilha}" ajax="false" />
	</h:form>
</h:body>
</html>