<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema Amortização</title>
</h:head>

<h:body>
	<h2>Planilha Amortização</h2>
	<h:outputText value="Sitema SAC" rendered="#{principalMB.sac}" />
	<h:outputText value="Sitema PRICE" rendered="#{principalMB.price}" />
	<h:outputText value="Sitema AMEricano" rendered="#{principalMB.americano}" />
	<br />

	<p:dataTable var="p" value="#{principalMB.parcelas}" paginator="true"
		rows="12">
		<p:column headerText="Meses">
			<h:outputText value="#{p.numeroPrestacao}" />
			<h:outputText value="#{p.titulo}" />
			
		</p:column>

		<p:column headerText="Prestação (R$)">
			<h:outputText value="#{p.valorPrestacao}" >
				<f:convertNumber maxFractionDigits="2" />  
			</h:outputText>
		</p:column>

		<p:column headerText="Juros (R$)">
			<h:outputText value="#{p.valorJuros}" >
				<f:convertNumber maxFractionDigits="2" />  
			</h:outputText>
			
		</p:column>
		

		<p:column headerText="Amortização (R$)">
			<h:outputText value="#{p.amortizacao}">
				<f:convertNumber maxFractionDigits="2" />  
			</h:outputText>
			
		</p:column>

		<p:column headerText="Saldo devedor  (R$)">
			<h:outputText value="#{p.saldoDevedor}" >
				<f:convertNumber maxFractionDigits="2" />  
			</h:outputText>
		</p:column>
		
	</p:dataTable>	
		


 
   

 
	<h:form>
		<p:commandButton value="Exportar PDF"
			action="#{principalMB.gerarPdf}" ajax="false" />
	</h:form>
</h:body>
</html>